table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 20px;

    position: center;
    width: 60%;
}

td, th {
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
    vertical-align: middle;

}


#nextWeek {
    cursor: pointer;
}

#prevWeek {
    cursor: pointer;
}

#prevWeek:hover {
    background-color: #dddddd;
}

#nextWeek:hover {
    background-color: #dddddd;
}

.leftOuterTable {
    visibility: hidden;
    border-color: white;
    border-right-color: lightgray;
    border-top-color: lightgray;
    background-color: #dddddd;
}

.rightOuterTable {
    visibility: hidden;
    border-color: white;
    border-left-color: lightgray;
    border-top-color: lightgray;
    background-color: #dddddd;
}

#week {
    font-size: 29px;
}

.innerTable:hover {
    background-color: gray;
    cursor: pointer;
}

.expired {
    background-color: gray;
    cursor: default;
}

#termin {
    clear: both;

}

#checkboxReminder {
    width: 100%;
    clear: both;
}

#reminder {
    clear: both;
}

#wuser {
    width: 100%;
    padding: 12px 20px;
}

.days {
    cursor: default;
    background-color: #dddddd;
}

#termin {
    cursor: default;
}

.timeTableSettingButtons {
    padding: 12px 12px;

}

.timeTableSetButton{
    padding: 12px 12px;
    color: #f44336;
}

#timeTableSettings {
    width: 2.5%;
    cursor: pointer;

}

.time {
    width: 40%;

    padding: 12px 12px;
}

#something {
    width: 10%;
    text-align: center;
}

#zContainer {
    width: 100%;
    font-size: 15px;
}

#deactivate {
    margin: 0 0;
}
#tabletAddDiv{
    width: 100%;
}

#tabletInput{
    width: 80%;
}

