table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 20px;

    position: center;
    width: 60%;
}

td, th {
    border: 2px solid #000000;
    padding: 8px;
    text-align: center;
    vertical-align: middle;

}


#nextWeek{
    cursor: pointer;
}

#prevWeek{
    cursor: pointer;
}
.leftOuterTable{
    visibility: hidden;
    border-color: white;
    border-right-color:lightgray ;
    border-top-color:lightgray ;
    background-color: #dddddd;
}
.rightOuterTable{
    visibility: hidden;
    border-color: white;
    border-left-color:lightgray ;
    border-top-color:lightgray ;
    background-color: #dddddd;
}
#week{
    font-size: 29px;
}

.innerTable:hover{
    background-color: gray;
    cursor: pointer;
}

.expired{
    background-color: gray;
}

#termin{
    clear: both;

}
#checkboxReminder{
    width: 100%;
    clear: both;
}
#reminder{
    clear: both;
}
#wuser{
    width: 100%;
    padding: 12px 20px;
}